[submodule "ArduinoJson"]
	path = ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "tests/Catch2"]
	path = tests/Catch2
	url = https://github.com/catchorg/Catch2.git
